h1 {
 text-align: center; 
}

h1 {	
background-color: red;
padding: 5px;
}

header {
	border-style: solid; 
	border-color: #FFA500;
    background-color: red;
    padding: 25px;
    text-align: center;
    font-size: 35px;
    color: #4B0082;
}

.contactfooter {
	text-align: center;
	margin-top: -35px;
	
}
	

.data {
	color: orange;
	text-align: left;
}

.winkelwagen {
    float: right;
	margin-top: -35px;
	margin-right: 0px;
}

article {
    margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
    padding: 30px;
    width: 70%;	
    height: 460px;
	color: white;
	background-color: #008080;
	border-style: solid;
	border-color: red;
}


footer {
	border-style:solid;
	padding: 15px;
	margin-top: 120px;
    background-color: grey;
    text-align: left;
    color: #4A4A4A;
}
	
.outside li:nth-child(odd) {
	list-style-position: outside;
}
.outside li:nth-of-type(even) {
	list-style-position: inside;
}

.enkel {
	margin-top: 0em;
	background-color: rgb(150,200,250);
}
.enkel ul {
	display: flex;
	/*flex-flow: column;*/
	margin: 0;
	padding: 0;
	list-style: none;
}
.enkel a {
	display: block;
	padding: 16px;
	font-size: 1.2em;
	font-family: sans-serif;
	font-weight:700;
	color: green;
	text-shadow: 0 1px 1px rgba(255,255,255,.8);
	text-decoration: none;
	transition: all .5s ease-in-out .05s;
}
.enkel a:hover {
	background-color: rgb(50,100,150);
	color: white;
	text-shadow: 0 1px 1px rgba(0,0,0,.8);
}

.dropbtn {
  background-color: rgb(150,200,250);
  color: green;
  padding: 16px;
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight:700;
  border: none;
}
	
.dropdown {
	border-color: lime;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 143.8px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  font-size: 1em;
  z-index: 1;
}

.dropdown-content a {
  color: red;
  padding: 20px 12px;
  display: block;
  background-color:	#4B0082; 
}

.dropdown-content a:hover {background-color: purple;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: blue;}

}

.afbeelding {
	float: center;
	margin-left: auto;
}

table.gridtable {
margin-top: 50px;
margin-left: 50px;
width:100%;
font-family: helvetica,arial,sans-serif;
text-align: justify;
}

.thunder {
position: absolute;
margin-left: 80px;
font-family: helvetica,arial,sans-serif;
margin-top: 0px;
color: lime;
}

.cross {
position: absolute;
margin-left: 410px;
margin-top: 0px;
font-family: helvetica,arial,sans-serif;
text-align: center;
color: lime;
}

.lont {
position: absolute;
margin-left: 720px;
margin-top: 0px;
font-family: helvetica,arial,sans-serif;
text-align: center;
color: lime;
}

.kanon {
position: absolute;
margin-left: 410px;
margin-top: 0px;
font-family: helvetica,arial,sans-serif;
text-align: center;
color: lime;
}

.mamba {
position: absolute;
margin-left: 720px;
margin-top: 0px;
font-family: helvetica,arial,sans-serif;
text-align: center;
color: lime;
}

.cross2 {
position: absolute;
margin-left: 100px;
font-family: helvetica,arial,sans-serif;
margin-top: 0px;
color: lime;
}

.bomba {
position: absolute;
margin-left: 390px;
margin-top: 0px;
font-family: helvetica,arial,sans-serif;
text-align: center;
color: lime;
}

.sputniks {
position: absolute;
margin-left: 730px;
margin-top: 0px;
font-family: helvetica,arial,sans-serif;
text-align: center;
color: lime;
}


.lont2 {
position: absolute;
margin-left: 80px;
font-family: helvetica,arial,sans-serif;
margin-top: 0px;
color: lime;
}

.veilig1 {
position: absolute;
margin-left: 390px;
margin-top: 0px;
font-family: helvetica,arial,sans-serif;
text-align: center;
color: lime;
}

.veilig2 {
position: absolute;
margin-left: 710px;
margin-top: 0px;
font-family: helvetica,arial,sans-serif;
text-align: center;
color: lime;
}

.footer {
margin-top: -30px;
text-align: left;
color: white;
background-color: grey;
}

.footer1 {
margin-top: -10px;
text-align: center;
color: white;
background-color: grey;
}